<div class="banner-container">
  <nz-carousel [nzDots]="false" [nzAutoPlay]="true" [nzAutoPlaySpeed]="20000">
    <div nz-carousel-content>
      <div class="image-container">
        <img src="../../../../assets/images/slider1.jpg" alt="">
      </div>
      <div class="content-container">
        <div class="content">
          <h6>{{ 'home.collectionWatch' | translate }}</h6>
          <h3><strong>{{ 'home.surviveWithTime' | translate }}</strong></h3>
          <p>{{ 'home.descriptionBannerOne' | translate }}</p>
        </div>
        <div class="button">
          <button class="button-banner">{{ 'common.button.buyNow' | translate }}</button>
        </div>
      </div>
    </div>
    <div nz-carousel-content>
      <div class="image-container">
        <img src="../../../../assets/images/slider2.jpg" alt="">
      </div>
      <div class="content-container-slide-two">
        <div class="content">
          <h6>{{ 'home.onlyForBusinesses' | translate }}</h6>
          <h3><strong>{{ 'home.classIsForever' | translate }}</strong></h3>
          <p>{{ 'home.descriptionBannerTwo' | translate }}</p>
        </div>
      </div>
    </div>
    <div nz-carousel-content>
      <div class="image-container">
        <img src="../../../../assets/images/slider3-3.jpg" alt="">
      </div>
      <div class="content-container-slide-three">
        <div class="content">
          <h6>{{ 'home.shapingTheStyle' | translate }}</h6>
          <h3><strong>Đẳng cấp là mãi mãi</strong></h3>
          <p>{{ 'home.descriptionBannerThree' | translate }}</p>
        </div>
        <div class="image-left">
          <img src="../../../../assets/images/slider3-1.jpg" alt="">
        </div>
        <div class="image-center">
          <img src="../../../../assets/images/slider3-3.jpg" alt="">
        </div>
        <div class="image-right">
          <img src="../../../../assets/images/slider3-2.jpg" alt="">
        </div>
      </div>
    </div>
  </nz-carousel>
  <button class="button-prev" (click)="goPrevSlide()"><span nz-icon nzType="left" nzTheme="outline"></span></button>
  <button class="button-next" (click)="goNextSlide()"><span nz-icon nzType="right" nzTheme="outline"></span></button>
</div>
<div class="banner-container-two">
  <div class="banner-left">
    <div class="image-container">
      <img src="../../../../assets/images/banner-4.jpg" alt="">
    </div>
    <div class="content-container">
      <h1>ĐỒNG HỒ CỔ ĐIỂN</h1>
      <p>Phong cách trường tồn, có thể được nhận biết trong nháy mắt.</p>
      <div class="button">
        <button class="button-banner">XEM THÊM</button>
      </div>
    </div>
  </div>
  <div class="banner-center">
    <div class="center-top">
      <div class="image-container">
        <img src="../../../../assets/images/banner-3.jpg" alt="">
      </div>
      <div class="content-container">
        <h2>Bộ sưu tập năm 2019</h2>
        <div class="button">
          <button class="button-banner">XEM THÊM</button>
        </div>
      </div>
    </div>
    <div class="center-bottom">
      <div class="image-container">
        <img src="../../../../assets/images/banner-2.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="banner-right">
    <div class="image-container">
      <img src="../../../../assets/images/banner-1.jpg" alt="">
    </div>
    <div class="content-container">
      <h1><strong>ĐỒNG HỒ CHẤT</strong></h1>
      <p>Kết hợp hoàn hảo tính năng ưu việt và phòng cách đẳng cấp.</p>
      <div class="button">
        <button class="button-banner">MUA NGAY</button>
      </div>
    </div>
  </div>
</div>
