<div class="footer-container">
  <div class="content-container" nz-row>
    <div class="col" nz-col nzSpan="8">
      <h4>Đăng kí nhận email</h4>
      <p>Cung cấp email của bạn để nhận được tin nhắn khuyên mại của chúng tôi</p>
      <form nz-form>
        <nz-form-item>
          <nz-form-control nzErrorTip="Email không được để trống!">
            <input nz-input formControlName="email" id="email" placeholder="Email của bạn"/>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div class="col" nz-col nzSpan="8">
      
    </div>
    <div class="col" nz-col nzSpan="8"></div>
  </div>
</div>
