.header-container {
  display: flex;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 3px 0;
  position: absolute;
  top: 0;
  left: 0;

  .phone-container {
    width: 50%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
    }

    .fa {
      font-size: 14px;
      margin-right: 4px;
    }
  }

  .user-container {
    width: 50%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;

    .fa-user-circle-o {
      font-size: 14px;
      margin-right: 4px;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin-right: 3px;

      .fa {
        font-size: 14px;
        margin-right: 4px;
      }
    }

    a:hover {
      color: #1DC483
    }
  }

  .login-container {
    color: #fff;
    width: 50%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      margin-right: 3px;

      .fa {
        font-size: 14px;
        margin-right: 4px;
      }
    }

    a:hover {
      color: #1DC483
    }
  }
}

.banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: -9999;

  .carousel {
    width: 100%;
  }

  span {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
  }
}

.logo {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;

  hr {
    width: 5%;
  }

  .slogan {
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
  }
}

.nab-bar {
  display: flex;
  justify-content: center;
  margin-top: -30px;

  .main-menu {
    background-color: #1DC483;
    padding: 0 100px;
    border-radius: 30px;
    width: 60%;

    ul {
      list-style-type: none;
      padding-left: 0;
      background-color: #1DC483;
      margin: 0;
      padding: 0 15px;

      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;

        li {
          padding: 15px 25px;
          font-size: 16px;
          font-weight: 500;
        }
      }

      a:hover {
        background: #05a667;
        color: #fff;
      }
    }
  }
}

.nab-bar::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 58.6%;
  left: 21%;
}

.nab-bar::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 58.6%;
  right: 21%;
}

.border-clear-fix {
  height: 5px;
  width: 100%;
  background: url('../../../../assets/images/border-slide.webp') repeat-x;
  margin-top: 51px;
}

@media only screen and (max-width: 480px) {
  .header-container {
    .phone-container {
      display: none;
    }

    .user-container {
      width: 100%;
    }
  }

  .banner {
  }

  .nab-bar {
    display: none
  }
}

@media only screen and (max-width: 900px) {
  // .banner {
  //   height: 300px;
  // }

  .nab-bar {
    margin-top: -20px;

    .main-menu {
      padding: 0 50px;
      width: 90%;

      ul {
        padding: 0;
        width: 100%;

        a {
          letter-spacing: 0;

          li {
            padding: 10px 7px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .nab-bar::before {
    display: none;
  }

  .nab-bar::after {
    display: none;
  }
}
