<div class="header-container">
  <div class="logo">
    <a [routerLink]="['']">
      <img width="112" height="70" src="../../../../assets/images/logo.png" alt="logo">
    </a>
  </div>
  <div class="right-container">
    <div class="icon-search">
      <div class="icon">
        <span nz-icon nzType="search" style="font-size: 1.1em" nzTheme="outline"></span>
      </div>
      <div class="dropdown-search">
        <div class="input-search-container">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Tìm kiếm ..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button *ngIf="!showLoading" nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            <button *ngIf="showLoading" nz-button nzType="primary"><span nz-icon nzType="loading"></span></button>
          </ng-template>
        </div>
        <div class="show-list-product"></div>
      </div>
    </div>
    <div class="header-divider"></div>
    <div class="icon-user">
      <span nz-icon nzType="user" nzTheme="outline"></span>
    </div>
    <div class="header-divider"></div>
    <div class="cart">
      <span class="cart-price">{{ totalPrice }}&nbsp;đ</span>
      <span class="cart-icon"><strong>{{ totalItem }}</strong></span>
      <div class="dropdown-cart">

      </div>
    </div>
  </div>
</div>
<div class="nav-bar-container">
  <ul>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">TRANG CHỦ</a>
    </li>
    <li>
      <a class="" [routerLink]="['']" routerLinkActive="highlight">SẢN PHẨM HOT</a>
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">SALE</a>
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">ĐỒNG HỒ NỮ</a>
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">ĐỒNG HỒ NAM</a>
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">BRANDS</a>
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="highlight">LIÊN HỆ</a>
    </li>
    <li><a [routerLink]="['']" routerLinkActive="highlight">GIỚI THIỆU</a></li>
  </ul>
</div>
