<div class="header-container">
  <div class="phone-container">
    <i class="fa fa-phone-square" aria-hidden="true"></i> <span>Hotline: 0947.215.788 | 0985.925.148</span>
  </div>
  <div class="user-container" *ngIf="isLogin; else noLogin">
    <div><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span>{{ 'Juse Hoàng' }}</span></div> &nbsp;|&nbsp;
    <a [routerLink]="['auth', 'logout']" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Giỏ hàng {{ 0 }}</span></a>
  </div>
</div>
<div class="banner">
  <div class="carousel">
    <nz-carousel [nzEffect]="'fade'" nzAutoPlay="true" nzDots="false" nzEffect="fade" nzAutoPlaySpeed="5000">
      <div nz-carousel-content>
        <img src="../../../../assets/images/slide-1.webp" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../../../assets/images/slide-2.webp" alt="">
      </div>
      <div nz-carousel-content>
        <img src="../../../../assets/images/slide-3.webp" alt="">
      </div>
    </nz-carousel>
  </div>
</div>
<div class="logo">
  <img src="../../../../assets/images/text-1663342200227.png" alt="">
  <hr>
  <div class="slogan">
    <span>Cửa Hàng Thực Phẩm Sạch</span>
  </div>
</div>
<div class="border-clear-fix">
</div>
<div class="nab-bar">
  <div class="main-menu">
    <ul>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Trang chủ</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Giới thiệu</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Sản phẩm</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Tin tức</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Tư vấn</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Dịch vụ</li></a>
      <a [routerLink]="['']" routerLinkActive="active-nab-bar" [routerLinkActiveOptions]="{ exact: true }"><li>Liên hệ</li></a>
    </ul>
  </div>
</div>
<ng-template #noLogin>
   <div class="login-container">
    <a [routerLink]="['auth', 'login']" routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Đăng nhập</span></a> &nbsp;| &nbsp;
     <a [routerLink]="['auth', 'logout']" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> <span>Đăng kí</span></a> &nbsp;|&nbsp;
     <a [routerLink]="['auth', 'logout']" routerLinkActive="active"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> <span>Giỏ hàng {{ 0 }}</span></a>
   </div>
</ng-template>

