.container {
  .header {
    width: 100%;
  }

  .content {
    // min-height: calc(100vh - 55px);
    width: 60%;
    margin: auto;

    // .footer {
    //   position: fixed;
    //   bottom: 0;
    // }
  }
}
