<div class="product-container">
  <h2>360° COLLECTION</h2>
  <h1>FEATURED <span>PRODUCTS</span></h1>
  <div class="gap-element"></div>
  <div class="list-product-feature">
    <div class="card-container" *ngFor="let product of products">
      <div class="image">
        <img [src]="product.image" [alt]="product.name">
      </div>
      <div class="sale-container" *ngIf="product.isSale" [class.sale-padding]="(product.percentSale || 0) >= 10">
        <span>-{{ product.percentSale }}%</span>
      </div>
      <button (click)="addToCart($event, product)" nz-tooltip nzTooltipPlacement="top" nzTooltipTitle="Thêm vào giỏ">
        <span class="cart-icon"><strong>+</strong></span>
      </button>
      <div class="price-box">
        <h5 class="text-ellipsis">{{ product.name }}</h5>
        <div class="price-warraper">
          <span *ngIf="product.isSale">{{ product.priceSale | currencyPipe }}</span>&nbsp;
          <span [class.lỉne-through]="product.isSale">{{ product.price | currencyPipe }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
