.container {

  .category {
    border: 1px solid #e6e6e6;
    margin-top: 18px;

    .block-category {
      border-bottom: 5px solid #1DC483;

      .title {
        text-align: center;
        background-color: #1DC483;
        border-radius: 30px;
        margin-top: -20px;

        h2 {
          color: #fff;
          line-height: 45px;
          text-transform: uppercase;
          font-size: 15px;
          margin-bottom: 0;
        }
      }

      .category-content {
        padding: 15px;

        ul {
          list-style-type: none;
          padding-left: 0px;
          margin: 0;

          li {
            line-height: 35px;

            a {
              color: #35240d;
              text-decoration: none;
              display: block;
              padding: 10px 0px;
              border-bottom: 1px solid #e5ebf4;
              font-size: 14px;
              font-weight: bold;
            }

            a:hover {
              color: #1DC483;
            }
          }
        }
      }
    }
  }

  .news {
    border: 1px solid #e6e6e6;
    margin-top: 46px;

    .block-news {
      border-bottom: 5px solid #1DC483;

      .title {
        text-align: center;
        background-color: #1DC483;
        border-radius: 30px;
        margin-top: -20px;

        h2 {
          color: #fff;
          line-height: 45px;
          text-transform: uppercase;
          font-size: 15px;
          margin-bottom: 0;
        }
      }

      .news-content {
        padding: 15px;

        ul {
          // list-style-type: none;
          padding-left: 15px;
          margin: 0;

          li {
            a {
              color: #35240d;
              text-decoration: none;
              display: block;
              padding: 10px 0;
              font-size: 14px;
            }

            a:hover {
              color: #1DC483;
            }
          }
        }
      }
    }
  }

  .block-policy {
    margin-top: 46px;

    .policy {

      a {
        padding: 30px 15px;
        display: block;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        background-color: #1DC483;
        border: 1px solid #fff;

        .fa {
          margin-right: 5px;
        }
      }

      a:hover {
        background-color: #05a667;
        color: #fff;
      }
    }
  }

  .related-products {
    border: 1px solid #e6e6e6;
    margin-top: 46px;

    .block-related-product {
      border-bottom: 5px solid #1DC483;

      .title {
        text-align: center;
        background-color: #1DC483;
        border-radius: 30px;
        margin-top: -20px;

        h2 {
          color: #fff;
          line-height: 45px;
          text-transform: uppercase;
          font-size: 15px;
          margin-bottom: 0;
        }
      }

      .product-content {
        padding: 5px;

        ul {
          list-style-type: none;
          padding-left: 0px;
          margin: 0;

          li {
            padding: 0 5px;
            margin-bottom: 10px;

            a {
              text-decoration: none;
              .product {
                border: thin solid #e6e6e6;
                .image {
                  img {
                    width: 100%;
                  }
                }

                .content {
                  padding: 10px;
                  border-bottom: 5px solid transparent;

                  .price-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                      margin: 0px;
                      font-size: 16px;
                      font-weight: normal;
                      color: #35240d;
                      min-height: 35px;
                      max-height: 35px;
                    }

                    &>span {
                      font-weight: bold;
                      padding: 7px 0;
                      color: #35240d;
                      font-size: 18px;

                      small {
                        font-style: italic;
                      }
                    }

                    .button {
                      background-color: #fff;
                      border: 1px solid #e6e6e6;
                      padding: 8px 25px;
                      border-radius: 30px;
                      color: #35240d;
                      font-size: 16px;
                      display: inline-block;
                      cursor: pointer;

                      .fa-shopping-cart {
                        padding: 0 5px;
                      }
                    }
                  }
                }
              }

              .product:hover {
                .content {
                  background-color: #F8F8F8;
                  border-bottom: 5px solid #1dc483;
                  -webkit-transition: all 0.3s ease-in-out;
                  -moz-transition: all 0.3s ease-in-out;
                  -ms-transition: all 0.3s ease-in-out;
                  -o-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;

                  .price-box {
                    .button {
                      color: #fff;
                      background-color: #1dc483;
                      -webkit-transition: all 0.3s ease-in-out;
                      -moz-transition: all 0.3s ease-in-out;
                      -ms-transition: all 0.3s ease-in-out;
                      -o-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
