<div nz-row class="product-top-sale-container" [nzGutter]="[30, 30 ]">
  <div nz-col nzXs="24" nzSm="10" nzMd="10">
    <div class="product">
      <div class="product-sale" *ngIf="productSell[0].isSale">
        <span>{{productSell[0].percentSale | percentPipe }}</span>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <div class="product-image">
        <a [routerLink]="['']">
          <img [src]="productSell[0].image" [alt]="productSell[0].name">
        </a>
        <div class="product-infomation">
          <h2>{{ productSell[0].name }}</h2>
          <div class="price-container">
            <div class="price-box">
              <ng-container *ngIf="productSell[0].isSale">
                <p [class.high-light-price]="productSell[1].isSale"><small><i>Giá:</i></small>{{ productSell[0].costSale }}đ</p>
              </ng-container>
              <p [class.text-decoration-line-through]="productSell[0].isSale"><i>Giá: {{ productSell[0].cost }}đ</i></p>
            </div>
            <div class="action">
              <button nz-button nzType="primary">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Mua hàng</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="14" nzMd="14">
    <div class="pro-title">
      <h2>Sản Phẩm Bán Chạy</h2>
      <p>Chúng tôi hài lòng khi mang đến cho Quý khách hàng những sản phẩm chất lượng với mức giá ưu đãi nhất thị
        trường.</p>
    </div>
    <div class="pro-content">
      <div nz-row [nzGutter]="[30, 30 ]">
        <div nz-col nzXs="24" nzSm="12" nzMd="12">
          <div class="product">
            <div class="product-sale" *ngIf="productSell[1].isSale">
              <span>{{productSell[1].percentSale | percentPipe}}</span>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="product-image">
              <a [routerLink]="['']">
                <img [src]="productSell[1].image" [alt]="productSell[1].name">
              </a>
              <div class="product-infomation">
                <h2>{{ productSell[1].name }}</h2>
                <div class="price-container">
                  <div class="price-box">
                    <ng-container *ngIf="productSell[1].isSale">
                      <p [class.high-light-price]="productSell[1].isSale"><small><i>Giá:</i></small>{{ productSell[1].costSale }}đ</p>
                    </ng-container>
                    <p [class.text-decoration-line-through]="productSell[1].isSale"><i>Giá: {{ productSell[1].cost }}đ</i></p>
                  </div>
                  <div class="action">
                    <button nz-button nzType="primary">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span>Mua hàng</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12">
          <div class="product">
            <div class="product-sale" *ngIf="productSell[2].isSale">
              <span>{{productSell[2].percentSale | percentPipe}}</span>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="product-image">
              <a [routerLink]="['']">
                <img [src]="productSell[2].image" [alt]="productSell[2].name">
              </a>
              <div class="product-infomation">
                <h2>{{ productSell[2].name }}</h2>
                <div class="price-container">
                  <div class="price-box">
                    <ng-container *ngIf="productSell[2].isSale">
                      <p [class.high-light-price]="productSell[2].isSale"><small><i>Giá:</i></small>{{ productSell[2].costSale }}đ</p>
                    </ng-container>
                    <p [class.text-decoration-line-through]="productSell[2].isSale"><i>Giá: {{ productSell[2].cost }}đ</i></p>
                  </div>
                  <div class="action">
                    <button nz-button nzType="primary">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span>Mua hàng</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-container" nz-row>
  <div nz-col nzSpan="15" class="banner-left">
    <a [routerLink]="['']">
      <img src="../../../../assets/images/banner_left.webp" alt="">
    </a>
  </div>
  <div nz-col nzSpan="9" class="banner-right">
    <a [routerLink]="['']">
      <img src="../../../../assets/images/banner_right.webp" alt="">
    </a>
  </div>
</div>
