<div class="product-detail-container">
  <div class="image-container">
    <lib-ngx-image-zoom [thumbImage]="'https://wittlock.github.io/ngx-image-zoom/assets/thumb.jpg' || ''" [fullImage]="'https://wittlock.github.io/ngx-image-zoom/assets/fullres.jpg' || ''"
    [zoomMode]="'hover'"></lib-ngx-image-zoom>
  </div>
  <div class="detail-container">
    <h1>{{ product.name }}</h1>
    <div class="didiver"></div>
    <div class="price">
      <span>{{ product.price | currencyPipe }}</span>&nbsp;
      <span>{{ product.priceSale | currencyPipe }}</span>
    </div>
    <div class="text-warranty">
      <p>› Sản phẩm nhập khẩu chính hãng.</p>
      <p>› Vận chuyển miễn phí toàn quốc.</p>
      <p>› Giao hàng trong ngày.</p>
      <p>› Thanh toán sau khi nhận hàng.</p>
      <p>› Bảo hành 5 năm tại Công ty.</p>
      <p>› Bảo hành chính hãng toàn cầu.</p>
    </div>
    <div class="add-to-cart">
      <div class="quantity">
        <button class="decrease" (click)="quantity = quantity - 1">-</button>
        <input type="text" [(ngModel)]="quantity" min="0">
        <button (click)="quantity = quantity + 1">+</button>
      </div>
      <div class="button-add-to-cart">
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <div class="product-meta">
      <span>Mã: {{ product.code }}</span>
      <span>Danh mục: <ng-container *ngFor="let category of product.categorys">{{ category.name }},&nbsp;</ng-container></span>
      <span>Từ khóa: <ng-container *ngFor="let category of product.categorys">{{ category.name }},&nbsp;</ng-container></span>
    </div>
  </div>
</div>
<div class="description-container">
  <nz-tabset nzType="card" [nzAnimated]="true">
    <nz-tab nzTitle="Mô tả">
      <app-description [innerHTMLDescription]="product.description || ''"></app-description>
    </nz-tab>
    <nz-tab [nzTitle]="'Đánh giá(' + totalEvaluate + ')'">
      <app-evaluates [product]="product"></app-evaluates>
    </nz-tab>
  </nz-tabset>
</div>
<div class="product-related">
  <h3>Sản phẩm tương tự</h3>
  <app-products-related></app-products-related>
</div>
