::ng-deep .cart-container {
  width: calc(120rem - 733px);
  margin: auto;

  .list-product {
    .row {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      padding: 5px 0;
      border-bottom: 2px solid #ddd;

      .product-name {
        width: 50%;
      }

      .product-price {
        width: 16%;
      }

      .product-quantity {
        width: 9%;
      }

      .product-total {
        width: 16%;
      }

      .product-action {
        width: 9%;
      }

      .product-name, .product-price, .product-quantity, .product-total, .product-action {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
